<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>
<body>
      <div class ="form">
          <form class ="form" method="post" action="/addUser">
              <label>Name</label><br>
              <input type="email" class ="form"><br>
              <label>Email</label><br>
              <input type="email" class ="form" name="userEmail"><br>
              <label>Password</label><br>
              <input type="password" class ="form" name="userPassword"><br><br><br>
              <input type="submit" class ="btn btn" value="Login">
          </form>

          <p> Already Registered ? <a href="/">Login</a></p>
      </div>
</body>
</html>